/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 1190px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
.header {
	height: 500px;
}
.top h1 {
	font-size: 24px;
	margin: 12.5px 0;
}

.menu-toggle .button .line-2 {
	width: 25px;
	height: 3px;
	margin: 7px;
}
.menu-toggle .button .line-1 {
	width: 25px;
	height: 3px;
	margin: 7px;
}
.top .right .button .line-1-1, .top .right .button .line-2-1 {
	width: 25px;
	height: 3px;
	margin: 7px;
}
/*.header .row .menu-toggle {
	width: 200px;
}*/
/*.fade-toggle {
	left: 75.1% !important;
}*/
.menu-toggle ul {
	margin-top: 30%;
}
.menu-toggle ul li {
	padding: 8px 0;
}
.menu-toggle ul li a {
	font-size: 17px;
}
.top .right .button .click-on {
	margin: 16px 0;
}
.menu-toggle .button .click-on-1 {
	margin: 16px 0;
}
.text .item h1 {
	font-size: 20px;
}
.work .item h1 {
	font-size: 27px;
	margin: 20px 0 30px;
}
.work .item .item-w .link-1, .work .item .item-w .link-2, .work .item .item-w .link-3 {
	height: 300px;
}
.work .item .item-w .link-1 .text-i h2, .work .item .item-w .link-2 .text-i h2, .work .item .item-w .link-3 .text-i h2 {
	font-size: 20px;
}
.work .item .item-w .link-1 .text-i .item-h, .work .item .item-w .link-2 .text-i .item-h, .work .item .item-w .link-3 .text-i .item-h {
	top: 230px;
	left: 45px;
}
.contact {
	padding: 20px 0;
}
.contact .item h2 {
	font-size: 16px;
	margin: 15px 0;
}
footer h2 {
	font-size: 16px;
}
footer .item-left h2 {
	font-size: 16px;
}
footer .item-left h2 {
	margin-right: 30px;
}
.photo h1 {
	font-size: 27px;
	margin: 0 0 10px;
}
.photo {
	margin: 100px 0 50px;
}
.photo .img-item .fade-text {
	display: none;
}
.about {
	height: 100%;
	margin: 50px 0;
}
.about .item .text-a p {
	font-size: 16px;
	margin-bottom: 15px;
}
.about .item .text-a {
	height: 100%;
}
.about .item .text-a .soc a {
	margin-top: 10px;
}
.about .item .text-a .soc a i {
	font-size: 20px;
}
.about .item .img {
	padding: 30px 50px;
}
}
@media only screen and (max-width: 991px) {
/*.header .row .menu-toggle {
	width: 250px;
}*/
/*.fade-toggle {
	left: 74%!important;
}*/
.menu-toggle .button .line-1 {
	transform: rotate(-45deg) translate(-3px, 2.5px);
}
.menu-toggle .button .line-2 {
	transform: rotate(45deg) translate(-4.5px, -3.5px);
}
.menu-toggle ul {
	padding-left: 30px; 
}
.text {
	padding: 0 60px;
	margin: 40px 0;
}
.text .item h1 {
	font-size: 18px;
}
.menu-toggle {
    width: 30%;
    /*height: 100vh;*/
    /*position: absolute;*/
    /*background-color: #fff;*/
    z-index: 10000;
    /*right: -30%!important;*/
}
.all-1 {
	transform: translate(-30%)!important;
	-webkit-transform: translate(-30%)!important;
    -ms-transform: translate(-30%)!important;
}
.about .item .img {
	width: 100%;
	height: 100%;
	padding: 30px 0;
}
.about .item .img .img-b {
	width: 300px;
	height: 300px;
	margin: auto;
}
.about .item .text-a {
	width: 100%;
}
.about .item .text-a .text-p {
	top: 0;
	left: 0;
	transform: inherit;
	padding: 0 50px;
}
.about .item .img, .about .item .text-a {
	float: none;
}
}

@media only screen and (max-width: 823px) {
.work .item {
	padding: 0 20px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
/*.header .row .menu-toggle {
	width: 220px;
}*/
/*.fade-toggle {
	left: 70%!important;
}*/
.text {
	padding: 0 20px;
}
.text .item h1 {
	font-size: 17px;
}
.work .item .item-w .link-1 {
	width: 49%;
}
.work .item .item-w .link-3 {
	width: 49%;
}
.work .item .item-w .link-2 {
	width: 49%;
}
.contact .item h2 {
	font-size: 15px;
}
.contact .item {
	padding: 0 20px;
}
footer {
	padding: 8px 20px;
}
footer h2 {
	font-size: 15px;
}
footer .item-left h2 {
	font-size: 15px;
	/*margin: auto;*/
	text-align: center;
	margin: 0 20px;
} 
footer .item-left {
	float: inherit;
	margin-bottom: 10px;
}
footer .item-right {
	float: inherit;
}
footer .item-right h2 {
	text-align: center;
}
.menu-toggle {
	width: 240px;
}
.all-1 {
	transform: translate(-240px)!important;
	-webkit-transform: translate(-240px)!important;
    -ms-transform: translate(-240px)!important;
}
.about .item .text-a .text-p {
	padding: 0 20px;
}
}

@media only screen and (max-width: 736px) {
.work .item .item-w .link-1, .work .item .item-w .link-2, .work .item .item-w .link-3 {
	height: 250px;
}
.work .item .item-w .link-1 .text-i h2, .work .item .item-w .link-2 .text-i h2, .work .item .item-w .link-3 .text-i h2 {
	font-size: 18px;
}
.work .item .item-w .link-1 .text-i .item-h, .work .item .item-w .link-2 .text-i .item-h, .work .item .item-w .link-3 .text-i .item-h {
	top: 190px;
	left: 40px;
}
}

@media only screen and (max-width: 667px) {
/*.fade-toggle {
	left: 67%!important;
}*/
}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 600px) {
/*.fade-toggle {
	left: 56%!important;
}*/
.work .item .item-w .link-1, .work .item .item-w .link-2, .work .item .item-w .link-3 {
	height: 200px;
}
.work .item .item-w .link-1 .text-i h2, .work .item .item-w .link-2 .text-i h2, .work .item .item-w .link-3 .text-i h2 {
	font-size: 18px;
}
.work .item .item-w .link-1 .text-i .item-h, .work .item .item-w .link-2 .text-i .item-h, .work .item .item-w .link-3 .text-i .item-h {
	top: 140px;
	left: 40px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 570px) {
.work .item .item-w .link-1 {
	width: 100%;
}
.work .item .item-w .link-3 {
	width: 100%;
}
.work .item .item-w .link-2 {
	width: 100%;
}
}
@media only screen and (max-width: 455px) {
/*.fade-toggle {
	left: 50%!important;
}*/
.about .item .img .img-b {
	width: 250px;
	height: 300px;
}
}


@media only screen and (max-width: 380px) {
/*.fade-toggle {
	left: 42%!important;
}*/
footer .item-left h2 {
	font-size: 10px;
	margin: 0 10px;
}
footer .item-left {
	margin-bottom: 0px;
}
footer h2 {
	font-size: 10px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}
@media only screen and (min-width: 1800px) {

}
@media only screen and (min-width: 2300px) {

}
